<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css">
        <title>Главная страница</title>
    </head>

    <body>
        <div class="menu">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Student</a></li>
                <div class="sign-up"><li><a asp-area="" asp-controller="Home" asp-action="Registration">Sign Up</a></li></div>
            </ul>
        </div>
        @RenderBody()
    </body>
</html>