<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/style.css">
        <title>Регистрация</title>
    </head>

    <body>
        <div class="registration">
            <h1>Registration</h1>
            <form class="registration-form">
                <input type="text" placeholder="Name"/>
                <input type="text" placeholder="Second name(can be null)"/>
                <input type="text" placeholder="Surname"/>
                <input type="text" placeholder="Group"/>
                <input type="text" placeholder="Email"/>
                <input type="text" placeholder="Password"/>
                <button type="submit" class="submit-button">Registration</button>
            </form>
        </div>
    </body>
</html>