* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(196, 196, 196);
}

.menu { 
    background-color: #007acc;
    height: 30px;
}

.menu ul {
    display: flex;
    list-style: none;
    align-items: flex-start;
}

.menu li {
    margin: 5px 0;
    min-width: 100px;
    max-width: 200px;
    text-align: center;
    border: 1px solid black;
    background-color: #00538a;
    margin-left: 4px;
}

.menu a {
    text-decoration: none;
    color: #b8c0c7;
}

.menu a:hover {
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

.registration {
    display: flex;
    background-color: #00538a;
    width: 80%;
    margin: 10px 10%;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
}

.registration h1 {
    color: #b8c0c7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px; 
    align-items: center;
}

.registration-form input {
    padding: 2px;
    margin: 2px;
    width: 200px;
}

.submit-button {
    width: 200px;
    margin: 20px;
}